<div class="card posteo-nuevo">
  <div class="card-body">
    <div class="row">
    <div class="col-sm">
    <!-- Title -->
    <h1 class="card-title text-center text-white">¿Tenes algo para contar?</h1>
    <!-- Text -->
    <p class="card-text text-center text-white">Comparte una historia, una vivencia, un recuerdo, una idea para
      que las demas personas puedan verlas </p>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-white btn-circle btn-xl margen-boton"><i class="fas fa-pen lapiz"></i>
      </button>
    </div>

</div>
</div>
</div>
