.icono-blanco {
  color:white;
}

.icono-blanco:hover {
  color:black;
}

.color-tu-blog {
  background-color:#2BBBAD;
  outline: 5px solid #00695c;
  color: white;
  margin-top:10px;
}

.libro {
  color: white;
}
