<br><br><br>
<div class="container">
  <h1 class="text-center"><b>Nombre de posteo</b></h1>
  <br><br>
  <div class="row">

    <div class="col-sm">
      <div class="imagen">
        <img class="img-thumbnail imagen"
          src="https://image.winudf.com/v2/image1/Y29tLmJhY2tncm91bmRzLmFuZC53YWxscGFwZXJzLmZyZWUuY2l0eV9zY3JlZW5fMjNfMTU3MjQyMjAyN18wNDg/screen-23.jpg?fakeurl=1&type=.jpg">
      </div>
    </div>
    <div class="col-sm agrandar">

      <div class="card">
        <h2 class="card-header">Featured</h2>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum eveniet excepturi
            obcaecati eum eaque, architecto explicabo rerum dignissimos cum illum quidem magni, ipsa nulla corrupti
            dolorum autem nesciunt vel ipsum distinctio, modi repellendus esse impedit. Nobis sunt dolore numquam. Dicta
            quisquam architecto et dolorem, doloribus dolores magni, consequatur cum vel iure dolorum hic aspernatur,
            quo autem. Obcaecati consectetur temporibus atque.</p>

        </div>
      </div> <br><br><br><br><br><br>

    </div>

    <div class="card text-center">

      <div class="card-body margen">

        <p class="text-card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi similique corrupti possimus
          ipsum, incidunt et adipisci facere molestiae dignissimos blanditiis distinctio vel temporibus accusantium
          porro laborum sunt dolorem rem itaque, eaque pariatur cum libero commodi! Voluptatem, voluptates. Neque
          ratione error ipsum voluptate eos fugit ab hic nemo dolorem voluptas, minus assumenda ad odio quibusdam est
          quas, beatae similique iusto aperiam maiores. Perspiciatis cupiditate amet cumque quasi nostrum qui ipsam sint
          ut eveniet. Optio distinctio saepe similique veniam ad non debitis unde, ipsa provident, corrupti nihil
          voluptatem repudiandae iste dignissimos dolor aperiam quidem impedit! Harum corrupti unde facere. Nemo, nihil
          doloremque! Sunt deleniti nostrum veniam consequatur, sapiente placeat labore dolore dicta ducimus magni!
          Optio eveniet tempore ipsum, culpa molestiae quibusdam accusantium! Quia dolorem explicabo necessitatibus fuga
          expedita laborum porro eveniet quibusdam, temporibus omnis numquam perspiciatis maiores consectetur molestiae,
          voluptas asperiores? Quae qui laboriosam totam vero quibusdam reprehenderit sed! Consequatur recusandae fuga
          fugit ipsum! Magnam ipsum maxime perspiciatis itaque quisquam aspernatur officia quos? Illo iusto similique
          nam praesentium dolorem quis illum nostrum alias reiciendis veritatis numquam totam molestias quo accusamus
          fuga tempore, quod repellat esse. Blanditiis nisi error tempore nesciunt vitae cupiditate qui rem culpa, ex
          ipsum dolorum quibusdam ea mollitia reiciendis atque corrupti provident, vel modi. Optio illo, a eius hic
          deserunt ipsa. Veniam, incidunt perspiciatis ratione dolor sint laboriosam odit modi deleniti beatae omnis
          suscipit voluptates harum atque possimus adipisci id reiciendis, reprehenderit explicabo. Minus nam,
          blanditiis deserunt nesciunt possimus odio! Reiciendis neque harum aperiam voluptas saepe non eligendi, at
          fugiat perferendis inventore, voluptates in cum minus facilis et, id dolorem aspernatur quibusdam? Ipsum
          facere tempore aperiam mollitia, reprehenderit dignissimos perspiciatis doloribus molestias repellendus fugit
          voluptas fugiat quasi a et quos quas necessitatibus. Aliquid quis perspiciatis ab nam perferendis quisquam,
          voluptatum minus quidem voluptate laborum alias quam quasi cupiditate maiores, modi doloremque ipsam
          recusandae reiciendis. Odio iure ab doloribus, dolor velit nostrum. Optio repudiandae eveniet illum quis ut
          maxime qui placeat eos nulla nihil? Molestias ab eum reprehenderit qui similique natus aliquid enim, ad sunt
          amet optio facilis, mollitia unde voluptatibus sit numquam incidunt consequatur quasi magni quas rerum illo
          nesciunt nisi. Vitae quae earum expedita harum natus officiis nobis at atque. Obcaecati amet debitis natus!
          Ipsam quaerat expedita provident ducimus quam repudiandae corporis dolorum quidem culpa nemo soluta dolor
          consequuntur iusto nulla modi non, tempore natus placeat aperiam. Reiciendis incidunt quam at quidem tempora
          aliquid adipisci error culpa est aliquam? Enim consectetur atque quas voluptatum, optio cupiditate. Cupiditate
          a fuga laborum mollitia in ipsa natus nemo, dolores aut laboriosam blanditiis atque porro facere cumque
          ratione minima praesentium adipisci hic! Culpa repellendus hic, nemo debitis aliquam non earum voluptates
          atque aperiam esse laudantium dignissimos ad, dolores, quibusdam facilis iure eum laboriosam reprehenderit
          doloremque provident nostrum. Molestiae reiciendis fugiat, modi vero perspiciatis quo dolore placeat dolores
          quas asperiores veritatis ut labore temporibus explicabo. Repellat fuga dignissimos eaque nemo nostrum!
          Asperiores culpa illo veniam quaerat, cum obcaecati impedit ab officiis facilis, doloribus sunt corrupti,
          laborum placeat itaque suscipit tempore animi. Ullam, officia.</p>

      </div>
      <div class="footer">
        2 days ago
      </div>
    </div>

    <div class="row margen">
      <div class="col-sm">
        <div class="ver-perfil  agrandar">
          <button class="btn btn-white waves-effect boton-blanco">Ver perfil <i class="fa fa-angle-double-down"></i></button><br>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center">

          <div class="card-body card-perfil agrandar">
            <div class="borde">
            <h1 class="card-title margen-seguir"><i class="fas fa-bookmark"></i> ¿Te gusto la publicación de (Nombre de usuario)? <i class="fas fa-bookmark"></i></h1>
           </div><br>
           <p>Sigue a (Nombre de usuario) para no perderte ni una de sus publicaciones</p>
            <button type="button" class="btn btn-white waves-effect boton-blanco">Seguir <i
                class="fas fa-book"></i></button>
          </div>

        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>
