<div class="card posteo-nuevo">
  <div class="card-body">
    <div class="row">
    <div class="col-sm">

      <img class="circle" src="{{perfil.img}}">

    </div>

    <div class="col-sm  text-center">

    <h1 class="card-title text-color">Conoce a {{perfil.nombre}} {{perfil.apellido}}</h1><br>

    <p class="card-text text-color">{{perfil.descPerfil}} </p>

    <button class="btn btn-default ver-perfil"> <b> Ver perfil  <i class="fas fa-angle-double-down"></i> </b> </button>
    </div>

</div>
</div>
</div>
